.column {
	width: 100%;
	height: 50px;
	border: 1px solid black;
	background-color: red; 
	float: left;
}

@media (min-width: 992px) {
    .column {
        width: 30%;
        margin: 10px;
    }
}

@media (max-width: 992px) {
    .column {
        margin: 0px 0px;
    }
}